<div class="flex-container">
    <div class="top-icon-group">
        <div class="icon-container">
            <img src="../../assets/ifelsecloud-logo-32px.svg" alt="Icon Description" width="16" height="16">
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.home"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.dashboard"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.docs"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.check"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.graph"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.user"></fa-icon>
        </div>
    </div>
    <div class="buttom-icon-group">
        <div class="icon-container">
            <fa-icon [icon]="ICONS.ring"></fa-icon>
        </div>
        <div class="icon-container">
            <fa-icon [icon]="ICONS.settings"></fa-icon>
        </div>
        <div class="img-container">
            <img src="../../assets/pexels-andrea-piacquadio-3756681.jpeg" alt="Round Image" class="rounded-image">
        </div>
    </div>
</div>
